.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 600px;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 237px;
  margin-bottom: 0;
  min-height: 363px;
  background-image: none;
}

.u-section-1 .u-group-1 {
  width: 846px;
  min-height: 262px;
  margin: -600px auto 60px 103px;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 10px 0 0 20px;
}

.u-section-1 .u-image-1 {
  width: 129px;
  height: 129px;
  animation-duration: 7500ms;
  background-image: url("images/Cardano-RGB_Logo-Icon-Blue-contained1.png");
  background-position: 50% 50%;
  margin: 36px 10px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 313px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-image-1 {
    width: 116px;
    height: 116px;
    margin-top: 0;
    margin-right: 46px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-top: -566px;
    min-height: 378px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 137px;
    height: 137px;
    margin-right: 36px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-1 .u-group-1 {
    margin-top: -590px;
    min-height: 429px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 143px;
    height: 143px;
    margin-right: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 503px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-image-1 {
    width: 124px;
    height: 124px;
    margin-top: 10px;
    margin-right: 11px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 619px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 607px;
  margin-top: 0;
  margin-bottom: 12px;
  height: auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 687px;
  }

  .u-section-2 .u-custom-html-1 {
    margin-bottom: 60px;
  }
}body,
html {
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
}
#movin {
  width: 400px;
  height: 400px; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#cefmsRates{
  border: 0;
  width: 1000px;
  height: 600px;
}
#outerIframe{
    position: relative;
    margin: 0;
    padding-top: 0;
    background-color: black;
    opacity: 1;
    width: 1000px;
}
#headerCover{
  position: absolute;
  width: 1000px;
  height: 1px;
  background-color: black;
   opacity: 1;
}
#footerCover{
  position: absolute;
  width: 1000px;
  height: 38px;
  background-color: black;
   opacity: 1;
  bottom: 0px;
}
canvas {
    width: 100%;
  height: 600px;
 position: absolute;
	top:0;
	right:0;
}
} 