.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 619px;
}

.u-section-1 .u-custom-html-1 {
  min-height: 607px;
  margin-top: 0;
  margin-bottom: 12px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 662px;
}

.u-section-2 .u-custom-html-1 {
  min-height: 590px;
  margin-top: 0;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-custom-html-1 {
    height: auto;
  }
}.u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/79933c957fc3f6515847a8741418f7dc.jpeg");
  background-position: 60.2% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 798px;
}

.u-section-3 .u-group-1 {
  width: 912px;
  min-height: 266px;
  margin: 133px 99px 60px auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  margin: 20px 10px 0;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 677px;
  margin: 20px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 893px;
  }

  .u-section-3 .u-group-1 {
    min-height: 369px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 35px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-3 .u-text-2 {
    width: 558px;
    position: relative;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-2 {
    width: 428px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-2 {
    width: 401px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-3 .u-group-1 {
    min-height: 516px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 3px;
    padding-right: 3px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-3 .u-text-2 {
    width: 337px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 365px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 26px auto 26px 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 293px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-4 .u-text-1 {
  margin: 20px 151px 0 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 143px 0 0;
}

.u-section-4 .u-btn-1 {
  border-style: solid;
  background-image: none;
  font-size: 0.875rem;
  text-transform: uppercase;
  margin: 30px 0 20px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 293px;
}

.u-section-4 .u-image-1 {
  width: 569px;
  height: 313px;
  margin: -10px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 16px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 125px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 118px;
  }

  .u-section-4 .u-btn-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-4 .u-image-1 {
    width: 469px;
    height: 253px;
    margin-top: 50px;
    margin-bottom: 35px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 13px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 95px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 90px;
  }

  .u-section-4 .u-image-1 {
    width: 359px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 642px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 303px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 9px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-right: 72px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 68px;
  }

  .u-section-4 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 303px;
  }

  .u-section-4 .u-image-1 {
    width: 488px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 620px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 358px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 45px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 43px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 242px;
  }

  .u-section-4 .u-image-1 {
    height: 181px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 500px;
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 670px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 122px;
  margin: 35px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 54px;
  padding-right: 54px;
}

.u-section-6 .u-text-1 {
  margin: 10px 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 6px auto 54px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 151px;
}

.u-section-6 .u-icon-1 {
  height: 36px;
  width: 36px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-2 {
  margin: -30px 20px 15px 76px;
}

.u-section-6 .u-text-3 {
  margin-left: 76px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 151px;
}

.u-section-6 .u-icon-2 {
  height: 36px;
  width: 36px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-4 {
  margin: -30px 20px 15px 76px;
}

.u-section-6 .u-text-5 {
  margin-left: 76px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 151px;
}

.u-section-6 .u-icon-3 {
  height: 36px;
  width: 36px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-6 {
  margin: -30px 20px 15px 76px;
}

.u-section-6 .u-text-7 {
  margin-left: 76px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-6 .u-layout-cell-4 {
  min-height: 453px;
}

.u-section-6 .u-image-1 {
  width: 374px;
  height: 438px;
  margin: 8px auto;
}

.u-section-6 .u-layout-cell-5 {
  background-image: none;
  min-height: 151px;
}

.u-section-6 .u-icon-4 {
  height: 36px;
  width: 36px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-8 {
  margin: -30px 20px 15px 76px;
}

.u-section-6 .u-text-9 {
  margin-left: 76px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-6 .u-layout-cell-6 {
  background-image: none;
  min-height: 151px;
}

.u-section-6 .u-icon-5 {
  height: 36px;
  width: 36px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-10 {
  margin: -30px 20px 15px 76px;
}

.u-section-6 .u-text-11 {
  margin-left: 76px;
  margin-right: 20px;
  font-size: 0.875rem;
}

.u-section-6 .u-layout-cell-7 {
  background-image: none;
  min-height: 151px;
}

.u-section-6 .u-icon-6 {
  height: 36px;
  width: 36px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-12 {
  margin: -30px 20px 15px 76px;
}

.u-section-6 .u-text-13 {
  margin-left: 76px;
  margin-right: 20px;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 470px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 44px;
    padding-right: 44px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 173px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 63px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 173px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 63px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 173px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 63px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 519px;
  }

  .u-section-6 .u-image-1 {
    width: 308px;
    margin-top: 41px;
    margin-bottom: 41px;
  }

  .u-section-6 .u-layout-cell-5 {
    min-height: 173px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 63px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-6 {
    min-height: 173px;
  }

  .u-section-6 .u-icon-5 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 63px;
    margin-right: 16px;
    position: relative;
  }

  .u-section-6 .u-layout-cell-7 {
    min-height: 173px;
  }

  .u-section-6 .u-icon-6 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-12 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 63px;
    margin-right: 16px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 360px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 34px;
    padding-right: 34px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-6 .u-text-3 {
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-4 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-6 .u-text-5 {
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-6 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-6 .u-text-7 {
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-6 .u-image-1 {
    width: 236px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-8 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-6 .u-text-9 {
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-6 .u-icon-5 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-10 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-6 .u-text-11 {
    margin-left: 13px;
    margin-right: auto;
  }

  .u-section-6 .u-icon-6 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-12 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 13px;
  }

  .u-section-6 .u-text-13 {
    margin-left: 13px;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1693px;
  }

  .u-section-6 .u-group-1 {
    width: 439px;
    min-height: 137px;
    margin-top: 30px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 70px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin: 20px 9px 15px 70px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 70px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin: 20px 9px 15px 70px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 70px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin: 20px 9px 15px 70px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 404px;
  }

  .u-section-6 .u-image-1 {
    width: 311px;
    height: 361px;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 70px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin: 20px 9px 15px 70px;
  }

  .u-section-6 .u-icon-5 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 70px;
  }

  .u-section-6 .u-text-11 {
    width: auto;
    margin: 20px 9px 15px 70px;
  }

  .u-section-6 .u-icon-6 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-12 {
    width: auto;
    margin-right: 9px;
    margin-bottom: 0;
    margin-left: 70px;
  }

  .u-section-6 .u-text-13 {
    width: auto;
    margin: 20px 9px 15px 70px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 283px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-2 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-text-3 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-4 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-text-5 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-6 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-text-7 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-image-1 {
    width: 244px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-8 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-text-9 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-icon-5 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-10 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-text-11 {
    width: NaNpx;
    margin-right: auto;
    margin-left: 64px;
  }

  .u-section-6 .u-icon-6 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-12 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }

  .u-section-6 .u-text-13 {
    width: NaNpx;
    margin-right: 6px;
    margin-left: 64px;
  }
}.u-section-7 {
  background-image: url("images/51b3bdc24b55471588deb60b32cb4f8f.jpeg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 627px;
}

.u-section-7 .u-group-1 {
  width: 570px;
  min-height: 314px;
  margin: 157px auto 65px 0;
}

.u-section-7 .u-text-1 {
  margin: 25px 20px 0;
}

.u-section-7 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-7 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-7 .u-group-1 {
    width: 470px;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-7 .u-btn-1 {
    position: relative;
    height: 46px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 360px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-7 .u-group-1 {
    width: 450px;
    min-height: 364px;
    margin-bottom: 60px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 283px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/094eaa3e9f0cb606bea4a5c8e9a4fca9.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-sheet-1 {
  min-height: 627px;
}

.u-section-8 .u-group-1 {
  width: 570px;
  min-height: 397px;
  margin: 115px 0 115px auto;
}

.u-section-8 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-8 .u-text-1 {
  margin: 40px 0 0 20px;
}

.u-section-8 .u-text-2 {
  margin: 20px 0 0 20px;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 28px 0 40px auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-8 .u-group-1 {
    width: 470px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-8 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-8 .u-text-2 {
    position: relative;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-group-1 {
    width: 360px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 682px;
  }

  .u-section-8 .u-group-1 {
    width: 481px;
    min-height: 452px;
    margin-bottom: 70px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-8 .u-text-1 {
    margin-top: 45px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
  }

  .u-section-8 .u-btn-1 {
    margin-bottom: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 283px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 6px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 6px;
  }
}.u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 709px;
}

.u-section-9 .u-group-1 {
  width: 570px;
  min-height: 133px;
  margin: 33px auto 0;
}

.u-section-9 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-9 .u-text-1 {
  width: 394px;
  margin: 15px auto;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 22px auto 66px 0;
}

.u-section-9 .u-image-1 {
  background-image: url("images/30828c936fd997512d817a0eba25a4b3.jpeg");
  min-height: 418px;
  background-position: 50% 50%;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 126px;
}

.u-section-9 .u-icon-1 {
  height: 39px;
  width: 39px;
  margin: 13px auto 0 20px;
}

.u-section-9 .u-text-2 {
  margin: -31px 20px 0 76px;
}

.u-section-9 .u-text-3 {
  font-size: 0.875rem;
  margin: 7px 20px 13px 76px;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 98px;
  background-image: none;
}

.u-section-9 .u-icon-2 {
  height: 39px;
  width: 39px;
  margin: 13px auto 0 20px;
}

.u-section-9 .u-text-4 {
  margin: -31px 20px 0 76px;
}

.u-section-9 .u-text-5 {
  font-size: 0.875rem;
  margin: 7px 20px 13px 76px;
}

.u-section-9 .u-layout-cell-4 {
  min-height: 98px;
  background-image: none;
}

.u-section-9 .u-icon-3 {
  height: 39px;
  width: 39px;
  margin: 13px auto 0 20px;
}

.u-section-9 .u-text-6 {
  margin: -31px 20px 0 76px;
}

.u-section-9 .u-text-7 {
  font-size: 0.875rem;
  margin: 7px 20px 13px 76px;
}

.u-section-9 .u-layout-cell-5 {
  min-height: 97px;
  background-image: none;
}

.u-section-9 .u-icon-4 {
  height: 39px;
  width: 39px;
  margin: 13px auto 0 20px;
}

.u-section-9 .u-text-8 {
  margin: -31px 20px 0 76px;
}

.u-section-9 .u-text-9 {
  font-size: 0.875rem;
  margin: 7px 20px 13px 76px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 677px;
  }

  .u-section-9 .u-group-1 {
    width: 620px;
    min-height: 147px;
    margin-top: 9px;
  }

  .u-section-9 .u-text-1 {
    width: 397px;
    position: relative;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 7px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-1 {
    margin-left: 16px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-9 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-9 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 16px;
    margin-left: 63px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 16px;
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 747px;
  }

  .u-section-9 .u-group-1 {
    width: 527px;
    min-height: 129px;
    margin-top: 20px;
  }

  .u-section-9 .u-text-1 {
    width: 375px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    min-height: 518px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 130px;
  }

  .u-section-9 .u-icon-1 {
    margin-left: 13px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: -32px;
    margin-right: 13px;
    margin-left: 65px;
  }

  .u-section-9 .u-text-3 {
    width: auto;
    margin-right: 13px;
    margin-left: 65px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 129px;
  }

  .u-section-9 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-9 .u-text-4 {
    width: auto;
    margin-right: 20px;
    margin-left: 65px;
  }

  .u-section-9 .u-text-5 {
    width: auto;
    margin-right: 13px;
    margin-left: 65px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 130px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-9 .u-text-6 {
    width: auto;
    margin-right: 13px;
    margin-left: 65px;
  }

  .u-section-9 .u-text-7 {
    width: auto;
    margin-right: 13px;
    margin-left: 65px;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 129px;
  }

  .u-section-9 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-9 .u-text-8 {
    width: auto;
    margin-right: 13px;
    margin-left: 65px;
  }

  .u-section-9 .u-text-9 {
    width: auto;
    margin-right: 13px;
    margin-left: 65px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 1268px;
  }

  .u-section-9 .u-group-1 {
    width: 439px;
    min-height: 132px;
    margin-top: 23px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 38px;
    padding-right: 38px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 363px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 23px;
    margin-left: 9px;
  }

  .u-section-9 .u-text-2 {
    width: NaNpx;
    margin-right: 9px;
    margin-left: 72px;
  }

  .u-section-9 .u-text-3 {
    width: NaNpx;
    margin-right: 9px;
    margin-bottom: 15px;
    margin-left: 72px;
  }

  .u-section-9 .u-icon-2 {
    margin-top: 22px;
    margin-left: 9px;
  }

  .u-section-9 .u-text-4 {
    width: NaNpx;
    margin-right: 9px;
    margin-left: 72px;
  }

  .u-section-9 .u-text-5 {
    width: NaNpx;
    margin-right: 9px;
    margin-bottom: 15px;
    margin-left: 72px;
  }

  .u-section-9 .u-icon-3 {
    margin-top: 23px;
    margin-left: 9px;
  }

  .u-section-9 .u-text-6 {
    width: NaNpx;
    margin-right: 9px;
    margin-left: 72px;
  }

  .u-section-9 .u-text-7 {
    width: NaNpx;
    margin-right: 9px;
    margin-bottom: 15px;
    margin-left: 72px;
  }

  .u-section-9 .u-icon-4 {
    margin-top: 22px;
    margin-left: 9px;
  }

  .u-section-9 .u-text-8 {
    width: NaNpx;
    margin-right: 9px;
    margin-left: 72px;
  }

  .u-section-9 .u-text-9 {
    width: NaNpx;
    margin-right: 9px;
    margin-bottom: 15px;
    margin-left: 72px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-group-1 {
    width: 283px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 11px;
    padding-right: 11px;
  }

  .u-section-9 .u-text-1 {
    width: 196px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 142px;
  }

  .u-section-9 .u-icon-1 {
    margin-left: 6px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 6px;
    margin-left: 61px;
  }

  .u-section-9 .u-text-3 {
    margin-right: 6px;
    margin-left: 61px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 142px;
  }

  .u-section-9 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 6px;
    margin-left: 61px;
  }

  .u-section-9 .u-text-5 {
    margin-right: 6px;
    margin-left: 61px;
  }

  .u-section-9 .u-layout-cell-4 {
    min-height: 142px;
  }

  .u-section-9 .u-icon-3 {
    margin-left: 6px;
  }

  .u-section-9 .u-text-6 {
    margin-right: 6px;
    margin-left: 61px;
  }

  .u-section-9 .u-text-7 {
    margin-right: 6px;
    margin-left: 61px;
  }

  .u-section-9 .u-layout-cell-5 {
    min-height: 141px;
  }

  .u-section-9 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 6px;
    margin-left: 61px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 6px;
    margin-left: 61px;
  }
}.u-section-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.25), rgba(0,0,0,0.25)), url("images/c01bf9813a096b0c7c66353a27b6b5d2.jpeg");
  background-position: 50% 50%;
}

.u-section-10 .u-sheet-1 {
  min-height: 627px;
}

.u-section-10 .u-group-1 {
  width: 570px;
  min-height: 314px;
  margin: 157px auto 65px 0;
}

.u-section-10 .u-text-1 {
  margin: 25px 20px 0;
}

.u-section-10 .u-text-2 {
  margin: 20px 20px 0;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 20px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-10 .u-group-1 {
    width: 470px;
  }

  .u-section-10 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-10 .u-text-2 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-10 .u-btn-1 {
    position: relative;
    height: 46px;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-group-1 {
    width: 360px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-group-1 {
    width: 338px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-group-1 {
    width: 283px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-10 .u-btn-1 {
    margin-left: 6px;
    margin-right: 6px;
  }
}.u-section-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/1648bc07fad78d3f3078278bfd2411e9.jpeg");
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 632px;
}

.u-section-11 .u-group-1 {
  width: 570px;
  min-height: 397px;
  margin: 115px 0 115px auto;
}

.u-section-11 .u-container-layout-1 {
  padding-right: 20px;
}

.u-section-11 .u-text-1 {
  margin: 40px 0 0 20px;
}

.u-section-11 .u-text-2 {
  margin: 20px 0 0 20px;
}

.u-section-11 .u-btn-1 {
  border-style: solid;
  background-image: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 2px;
  margin: 28px 0 40px auto;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-11 .u-group-1 {
    width: 470px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 16px;
  }

  .u-section-11 .u-text-1 {
    position: relative;
    margin-left: 16px;
  }

  .u-section-11 .u-text-2 {
    position: relative;
    margin-left: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-group-1 {
    width: 360px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 13px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 13px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 746px;
  }

  .u-section-11 .u-group-1 {
    width: 434px;
    min-height: 516px;
    margin-bottom: 75px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 9px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 50px;
    margin-left: 9px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 9px;
  }

  .u-section-11 .u-btn-1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 765px;
  }

  .u-section-11 .u-group-1 {
    min-height: 546px;
    margin-top: 184px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-container-layout-1 {
    padding-right: 6px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 55px;
    margin-left: 6px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 6px;
  }

  .u-section-11 .u-btn-1 {
    margin-bottom: 55px;
  }
}body,
html {
  width: 100%;
  height: 100%; 
  margin: 0;
  padding: 0;
}
#movin {
  width: 400px;
  height: 400px; 
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
#cefmsRates{
  border: 0;
  width: 1000px;
  height: 600px;
}
#outerIframe{
    position: relative;
    margin: 0 auto;
    padding-top: 0;
    background-color: white;
    opacity: 1;
    width: 1000px;
}
#headerCover{
  position: absolute;
  width: 1000px;
  height: 0px;
  background-color: white;
   opacity: 1;
}
#footerCover{
  position: absolute;
  width: 1000px;
  height: 0px;
  background-color: white;
   opacity: 1;
  bottom: 0px;
}